env/

__pycache__/

database/__pycache__/

database/insert_data.pyc

off_class/__pycache__/

off_class/__init__.pyc

off_class/category.pyc

off_class/product.pyc

off_class/favorite.pyc

off_function/__pycache__/

off_function/__init__.pyc

off_function/display.pyc

off_function/input_user.pyc

/.pytest_cache/
